.hdu-description{
	font-weight: bold;
	font-size: large;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

.hdu-problem-title{
	font-size: x-large; 
	text-align: center;
}

.hdu-problem-body{
	padding: 10px;
}

.hdu-input-specification{
	padding: 10px;
}

.hdu-output-specification{
	padding: 10px;
}

.hdu-sample-tests{
	padding: 10px;
}

.hdu-input{
}

.hdu-output{
	margin-bottom:30px;
}

.hdu-section-title{
	font-weight: bold;
	font-size: large;
}
