$def with(active_status)

<div class="navbar">
	<div class="navbar-inner">
		<ul class="nav">
			$if active_status == 'home':
				<li class="active"><a href="/">Home</a></li>
			$else:
				<li><a href="/">Home</a></li>

			$if active_status == 'problem':
				<li class="active"><a href="/problem">Problem</a></li>
			$else:
				<li><a href="/problem">Problem</a></li>

			$if active_status == 'status':
				<li class="active"><a href="/status">Status</a></li>
			$else:
				<li><a href="/status">Status</a></li>

			<!-- contest
			$if active_status == 'contest':
				<li class="active"><a href="/contest/">contest</a></li>
			$else:
				<li><a href="/contest/">contest</a></li>
			-->

			$if not session.logined:
				$if active_status == 'register':
					<li class="active"><a href="/register">Register</a></li>
				$else:
					<li><a href="/register">Register</a></li>

				$if active_status == 'login':
					<li class="active"><a href="/login">Login</a></li>
				$else:
					<li><a href="/login">Login</a></li>
			$else:
				$if active_status == 'profile':
					<li class="active" style="font-weight:bold"><a href="/profile">[$session.handle]</a></li>
				$else:
					<li style="font-weight:bold"><a href="/profile">[$session.handle]</a></li>
				<li><a href="/logout">Logout</a></li>
		</ul>
	</div>
</div>
