$def with(problem_title,problem_html)
$:render.header()
$:render.navigation('problem')

<script src="http://code.jquery.com/jquery.js"></script>
<script src="/static/js/bootstrap.min.js"></script>

<!-- 提交源代码 -->
<form action="/submit">
	<div id="submit_code" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<div style="font-size:20px;text-align:center">$problem_title</div>
			<div style="font-size:14px">
				Language: <select name="language" style="font-size:12px; margin-top:8px; height:25px; width:100px;">
					<option value ="C++">C++</option>
					<option value ="C">C</option>
					<option value="Python">Python</option>
					<option value="Java">Java</option>
				</select>
			</div>
		</div>
		<div class="source">
			<textarea name="source_code" style="font-size: 14px; width:97%; height:400px; background-color: #DCEAF4; font-family: Courier New, Courier, monospace;"></textarea>
		</div>
		<div class="modal-footer" style="text-align:center;">
			<button type="submit" class="btn">Submit</button>
			<button class="btn" data-dismiss="modal" aria-hidden="true">Cancle</button>
		</div>
	</div>
</form>
<!-- 提交源代码 -->

$:problem_html

$:render.footer()
