$:render.header()
$:render.navigation('register')

<div style="display:table; width:auto; margin-top: 100px; margin-left:30%; margin-right:30%">
	<form class="form-horizontal" action="/register/">
		<div class="control-group">
			<label class="control-label" for="inputHandle">Handle</label>
			<div class="controls">
				<input type="text" name="reg_handle" id="inputHandle" placeholder="Handle">
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="inputPassword">Password</label>
			<div class="controls">
				<input type="password" name="reg_password" id="inputPassword" placeholder="Password">
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="Confirm PWD">Confirm PWD</label>
			<div class="controls">
				<input type="password" name="reg_confim_password" id="Confirm PWD" placeholder="Confirm PWD">
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="Email;">Email</label>
			<div class="controls">
				<input type="text" id="Email" placeholder="Email">
			</div>
		</div>

		<div class="control-group">
			<div class="controls">
				<button type="submit" class="btn">Register</button>
			</div>
		</div>

	</form>
</div>

$:render.footer()
